* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f6f6;
  
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .hwuSubmitButton {
    background-color: #df7f03;
    border: none;
    color: white;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin-bottom: 2em;
    cursor: pointer;
    width: 53%;
    /* text-transform: uppercase; */
    font-weight: bold;
  }
  
  .hwuSubmitButton:hover {
    background-color: #af6910;
  }

  .textOverlay .hwuSubmitButton {
    width: 10em;
    text-transform: uppercase;
  }
}

.hwuMainContentTextWrap {
  width:50%;
  margin: auto;
  text-align: left;
  margin-bottom: 2em;
  line-height: 1.8em;
}

.hwu-mfdoom {
  text-transform: uppercase;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 1vmin);
  color: white;
  padding: 1em 0;


  /* Nav Start */
  nav {

    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;

    a {
      text-decoration: none;
      color: #fff;
    }

    .navWrap {
      display: flex;
      justify-content: space-between;
      margin: 0 1.7em;

      .navLogoWrap {
        white-space: nowrap;

        h1, ul {
          display: inline-block;
        }
      }

      .navContentSection {
        margin: auto auto auto 1em;
      }

      .navLoginSection {
        margin: auto 0;
      }

      .navContentSection, .navLoginSection  {
        li {
          display: inline-block;
          margin: 0 1em;
        }
      }

      ul {
        list-style-type: none;
      }
    }

  }
  /* Nav End */
}

.loginSection {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;

  .loginContent {
    margin: 3em 0;

    .loginCardContent {
      width: 50%;
      margin: auto;
      background-color: #fff;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      /* border: 2px solid #282c34; */

      .loginCardTitle {
        background-color: #282c34;
        color: #fff;
        text-align: center;
        padding: 1em 0;
        margin-bottom: 2em;
      }
    }

    .loginCardContent:hover {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
  }
}

.signupFormWrap {
  text-align: center;
  input {
    width: 50%;
    padding: 0.5em;
    margin: 0 0 2em 0;
  }
}

.hwuMainContentWrap {
  display: flex;
  margin: 0 2em;
}

#hwuBackgroundVideo {
  filter: brightness(0.5);
  object-fit: cover;
  height: 88vh;
  position: relative;
  z-index: -99;
  width: 100%;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.textOverlay {
  position: absolute;
  left: 0;
  top: 68%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 3rem;
  opacity: 0.8;
}

.hwuTosPageWrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20em;
  line-height: 2.5em;
}

.hwuMainContent {
  margin: 2em auto 0;
  /* margin: auto; */
  text-align: center;
}

.hwuMainContent .hwuSubmitButton {
  width: 16em;
  text-transform: uppercase;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.hwuDivContentWrap {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;

  .hwuDivContent {
    margin: 0 2em;
  }
}

footer {
  margin-top: 100px;
  margin-top: auto;
  background-color: #282c34;
  color:#fff;
  /* padding: 1em 0; */
  font-size: calc(10px + 1vmin);

  .hwuFooterBottomWrap {
    background-color: #df7f03;
  }
}

.hwuFooterContent {
  display: flex;
  justify-content: space-around;
  /* margin: 0  2em; */
  margin: 1em 0;
  text-align: center;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.hwuFooterBottomWrap {
  text-align: center;
  padding: 0.5em;
  font-size: 0.8em;
}

.hwuSubmitButton {
  a {
    text-decoration: none;
    color: #fff;
  }
}

.weatherDiv {
  text-align: center;
  margin-top: 2em;

  .hwuSubmitButton {
    width: 466px;
  }

  .weatherInput {
    width: 462px
  }
}

.hwuProfileWrap {
  margin-top: 2em;
}