* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f6f6;
  
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 100px;
  margin-top: auto;
  background-color: #282c34;
  color:#fff;
  padding: 1em 0;
  font-size: calc(10px + 1.5vmin);
}

.hwuSubmitButton {
  background-color: #df7f03;
  border: none;
  color: white;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  margin-bottom: 2em;
  cursor: pointer;
  width: 53%;
  /* text-transform: uppercase; */
  font-weight: bold;
}

.hwuSubmitButton:hover {
  background-color: #af6910;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 1.5vmin);
  color: white;
  padding: 1em 0;


  /* Nav Start */
  nav {

    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;

    a {
      text-decoration: none;
      color: #fff;
    }

    .navWrap {
      display: flex;
      justify-content: space-between;
      margin: 0 1.7em;

      .navLogoWrap {
        h1, ul {
          display: inline-block;
        }
      }

      .navContentSection {
        margin: auto auto auto 1em;
      }

      .navLoginSection {
        margin: auto 0;
      }

      .navContentSection, .navLoginSection  {
        li {
          display: inline-block;
          margin: 0 1em;
        }
      }

      ul {
        list-style-type: none;
      }
    }

  }
  /* Nav End */
}

.loginSection {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;

  .loginContent {
    margin: 3em 0;

    .loginCardContent {
      width: 50%;
      margin: auto;
      background-color: #fff;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      /* border: 2px solid #282c34; */

      .loginCardTitle {
        background-color: #282c34;
        color: #fff;
        text-align: center;
        padding: 1em 0;
        margin-bottom: 2em;
      }
    }

    .loginCardContent:hover {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
  }
}

.signupFormWrap {
  text-align: center;
  input {
    width: 50%;
    padding: 0.5em;
    margin: 0 0 2em 0;
  }
}

.hwuMainContentWrap {
  display: flex;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
